<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>My journey at Ictual</h1>
                            <span class="subheading">by Juan Sebastian Osorio Vazquez</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <% for (var i = 0; i < blogposts.length; i++) { %>
                        <div class="post-preview">
                            <a href="/post/<%= blogposts[i]._id %>">
                                <h2 class="post-title">
                                    <%= blogposts[i].title %>
                                </h2>
                                <h3 class="post-subtitle">
                                    <%= blogposts[i].body %>
                                </h3>
                            </a>
                            <p class="post-meta">Posted by <%= blogposts[i].userid.username %>
                            on <%= blogposts[i].datePosted.toDateString() %></p>
                        </div>
                    <hr>
                    <% } %>
                    <!-- Pager -->
                    ...
                    </div>
                </div>        
            </div>
        <hr>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>